@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("/typography/Lato-Regular.woff2") format("woff2"),
    url("/typography/Lato-Regular.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("/typography/Lato-Bold.woff2") format("woff2"),
    url("/typography/Lato-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "CaveatBrush";
  font-display: swap;
  src: url("/typography/CaveatBrush-Regular.woff2") format("woff2"),
    url("/typography/CaveatBrush-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@mixin h1-font-size() {
  font-size: 3rem;

  @media #{$mq-tablet-and-up} {
    font-size: 4rem;
  }
}

@mixin h2-font-size() {
  font-size: 2rem;

  @media #{$mq-tablet-and-up} {
    font-size: 3rem;
  }
}

@mixin h3-font-size() {
  font-size: 1.5rem;

  @media #{$mq-tablet-and-up} {
    font-size: 2.2rem;
  }
}

@mixin h4-font-size() {
  font-size: 1.2rem;
}

h1 {
  @include h1-font-size();
}

h2 {
  @include h2-font-size();
}

h3 {
  @include h3-font-size();
}

h4 {
  @include h4-font-size();
}

.small-text {
  font-size: 1rem;

  @media #{$mq-tablet-and-up} {
    font-size: 0.9rem;
  }
}
